<div class="container">

  <div class="row">
    <div class="column column-100"><h1>url preview demo</h1></div>
  </div>

  <div class="row">
    <div class="column column-20"><%= link_to "demo onebox", bookmarks_path %></div>
    <div class="column column-60"><%= link_to "doc onebox", "https://github.com/discourse/onebox" %></div>
  </div>

</div>
